@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Serif", serif;
}

/* Making Some Primary Colors */
.menu-gray{
    color: rgba(137, 135, 161, 1);
}

.primary-orange{
    color: rgba(233, 90, 8, 1);
}
.primary-black{
    color: rgba(0, 0, 0, 1);
}
.description-gray{
    color: rgba(0, 0, 0, 0.5);
}
.white-text{
    color: rgba(255, 255, 255, 1);
}

/* Setting primary width  */
.primary-max-width{
    max-width: 1140px;
}



.card>.font-bold{
    margin-bottom: 16px;
}
.card>button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(233, 90, 8, 1);
    padding: 19px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.list-disc>.description-gray{
    margin: 20px 0;
}

/* Join Us section styles */
.join-us{
    background-image: url(B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
}
.join-us>form>input{
    padding: 15px;
    border: 0px solid white;
}
.join-us>.join-us-inner{
    width: 830px;
}
